@model HomeHelp.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@section Scripts{
    <script src="~/Scripts/jquery.cookie.js"></script>
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="login login-v2" data-pageload-addclass="animated fadeIn">

        <div class="login-content">

            <form class="margin-bottom-0">
                <div class="form-group m-b-20">
                    Fill email address you use to log in.
                </div>
                <div class="form-group m-b-20">
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = Html.DisplayNameFor(m => m.UserName), @class = "form-control input-lg",@type="email" })

                </div>
                <div class="form-group m-b-20" style="color:white">

                </div>
                <div class="form-group m-b-20" style="color: red; font-weight: 900; font-size: inherit; ">@Html.ValidationMessageFor(Model => Model.UserName)</div>
                <div class="login-buttons">
                    <button id="btnSubmit" type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
                </div>
                <div class="form-group m-b-20 m-t-20" style="color:white">
                    @ViewBag.Error
                </div>
                <div class="form-group m-b-20" style="color:white; float:right">
                    <a href="#" onclick="location.href='@Url.Action("LogOn", "Account")'"> Click to login</a>
                </div>
            </form>
        </div>
    </div>

}